.layout {
  display: grid;
  height: 100dvh;
  grid-template-columns: var(--sidebar-width) minmax(0, 1fr);
  overflow: hidden;
}

@media (max-width: 1100px) {
  .layout {
    --sidebar-width: 340px;
  }
}

@media (max-width: 720px) {
  .layout {
    grid-template-columns: 100%;
  }

  .layout[data-view='list'] > :last-child,
  .layout[data-view='chat'] > :first-child {
    display: none;
  }
}
